$white: #FFFFFF;
$light-white: #FBF9FA;
$black: #333333;
$purple: #956D84;
$light-grey: #828282;
$red: #E72222;


$break_xs: 0;
$break_sm: 576px;
$break_md: 768px;
$break_lg: 992px;
$break_xl: 1200px;
$break_xxl: 1400px;

$font-family-museo: 'Museo Sans Cyrl', sans-serif;
$font-family-euclid: 'Euclid Circular B', sans-serif;

// $gutter-x: 245px;